body {
    background: url("../img/tiles_400x400.png") repeat;
    // background: linear-gradient(to bottom, rgba(33, 150, 243, .5), rgba(244, 67, 54, .7), url("../img/tiles_400x400.png"));
}

#profile-headshot {
    border-radius: 50%;
}

.bg-ramp {
    background: linear-gradient(to bottom, rgba(#2196f3, .3), rgba(#1a237e, .5));
    background-size: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;

    z-index: -100;
}

.w-512 {
    width: 512px;
}

.mg-0-auto {
    margin: 0 auto;
}

.z-depth {
    &-1 { box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    &-2 { box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2); }
    &-3 { box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2); }
    &-4 { box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2); }
    &-5 { box-shadow: 0 30px 100px rgba(50,50,93,.4), 0 15px 35px rgba(50,50,93,.4), 0 3px 15px rgba(0,0,0,.5); }
    &-6 { box-shadow: 0 5px 40px 0 rgba(0,0,0,0.2); }
}

#profile-card {
    animation: card-entry 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms;

    &:hover {
        box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    }
}

@keyframes card-entry {
    0% {
        margin-top: -50px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}